body {
    background-color: #bcd1c1;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    width: 60%;
    font-size: 25px;
    text-align: justify;
}
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}